<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.css" />
</head>

<body>


    <div class="container mt-5 pt-5">

        <div class="text-center">
            <h2>Create Information form</h2>
        </div>
        <form method="post" id="myUniqueUploadId" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="row" >
                <div class="form-group col-md-8">
                    <label>Add Skills</label>
                    <input class="form-control" required name="skills" type="text" placeholder="Enter Skills">
                </div>
                <div class="form-group col-md-4 mt-4">
                    <button type="button" onclick="addInputForSkills()" class="btn btn-success">Add Skills</button>

                </div>
              
            </div>
            <div id="skill_row">

            </div>
                

            <div class="custom-file-container mt-4" data-upload-id="myUniqueUploadId">
                <label>Upload File
                    <a href="javascript:void(0)" class="custom-file-container__image-clear"
                        title="Clear Image">&times;</a></label>
                <label class="custom-file-container__custom-file">
                    <input type="file" name="images" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple
                        aria-label="Choose File" />
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
            </div>
    

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    

    </div>

    


    <script type="text/javascript">
        var upload = new FileUploadWithPreview("myUniqueUploadId");
        var current_count_for_skills = 0

        function addInputForSkills(){


            var html = ` 
            <div class="row mt-3" id="input_skill_${current_count_for_skills}"> 
            <div class="form-group col-md-8">
                    <label>Add Skills</label>
                    <input class="form-control" required name="skills" type="text" placeholder="Enter Skills">
                </div>
                <div class="form-group col-md-4 mt-4">
                    <button type="button" onclick="removeSkillInput(${current_count_for_skills})" class="btn btn-danger" id>Delete</button>
                </div>
                </div>`

            document.getElementById('skill_row').innerHTML += html

            current_count_for_skills++
        }

        function removeSkillInput(id) {

            var element = document.getElementById(`input_skill_${id}`);
            element.remove()

        }

    </script>
</body>

</html>